.white-box {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header {
    background-size: cover;
    background-position: center;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 8rem;
}

.szep-box {
    margin-top: 10em;
    background-color: azure;
    padding: 5em;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px;
    align-items: center;
}

.kisdoboz {
    margin-top: 5em;
    border-radius: 10px 0 10px 0;
    box-shadow: 3px 5px 4px 6px;
    padding: 10px;
}

.nelegyentulnagy {
    max-width: 10em;
    max-height: 10em;
}