a{
    text-decoration: underline;
    color:black;
}

a:hover{
    color:red;
}

img{
    max-width: fit-content;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

main{
    padding-top: 20vh;
}

.rounded-box {
    margin-top: 20vh;
    border-radius: 10px;
    padding: 20px;
    background-color: #f5f5f5;
}
  
body{background-color: rgb(216, 36, 26);}

@media (max-width: 767px) {
    .col-sm-1 {
      text-align: center;
    }
    .col-sm-1 img {
      max-width: 100%;
    }
  }